mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
  xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
  xmlns:spring="http://www.springframework.org/schema/beans" 
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:file="http://www.mulesoft.org/schema/mule/file"
  xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>

  <flow name="AuctionService" >
        <http:listener config-ref="HTTP_Listener_Configuration" path="/auction" doc:name="HTTP"/>
    <object-to-string-transformer doc:name="Object to String"/>
        <request-reply doc:name="Request-Reply">
            <flow-ref name="splitBids" doc:name="splitBids"/>
            <vm:inbound-endpoint exchange-pattern="one-way" path="vm.reply" doc:name="vm.reply"/>
        </request-reply>
  </flow>
    <flow name="splitBids">
        <splitter expression="#[groovy:payload.readLines()]" doc:name="Splitter"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="vm.enrich" doc:name="vm.enrich"/>
    </flow>
    <flow name="enrichBids">
        <vm:inbound-endpoint exchange-pattern="one-way" path="vm.enrich" doc:name="vm.enrich">
        </vm:inbound-endpoint>
        <component class="com.mulesoft.EnricherAuctionComponent" doc:name="EnrichBids Java Component"/>
        <flow-ref name="aggregateBids" doc:name="aggregateBids"/>
    </flow>
    <flow name="aggregateBids">
        <collection-aggregator failOnTimeout="true" doc:name="Collection Aggregator"/>
        <flow-ref name="determineAuctionWinner" doc:name="determineAuctionWinner"/>
    </flow>
    <flow name="determineAuctionWinner">
        <component class="com.mulesoft.HighestBidderAuctionComponent" doc:name="HighestBidderAuctionComponent"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="vm.reply" doc:name="vm.reply"/>
    </flow>

</mule>
