transactionprocessingservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
		<api-platform-gw:api apiName="![p['api.name']]" version="![p['api.version']]" apikitRef="proxy-config" flowRef="proxy" doc:name="API Autodiscovery">
    </api-platform-gw:api>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8082" basePath="tpservice" doc:name="HTTP Listener Configuration"/>

   	<!-- allow for higher parallel execution -->
	<queued-asynchronous-processing-strategy name="QueuedHighThroughput" maxThreads="80" minThreads="20" threadTTL="5000" doc:name="Queued Asynchronous Processing Strategy" />


    <flow name="transactionprocessingserviceFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" allowedMethods="POST" doc:name="HTTP"/>
        <flow-ref name="validateInput" doc:name="validateInput"/>
		<set-variable variableName="starttime" value="#[server.nanoTime()]" doc:name="set START time" />
		<object-to-string-transformer doc:name="Object to String" />
		<request-reply doc:name="Request-Reply">
			<vm:outbound-endpoint exchange-pattern="one-way" path="VM-split" doc:name="VM-split" />
			<vm:inbound-endpoint exchange-pattern="one-way" path="VM-transaction.service" doc:name="VM-transaction.service" />
		</request-reply>
        <flow-ref name="processTransactions" doc:name="processTransactions"/>
        <flow-ref name="auditTransactions" doc:name="auditTransactions"/>
		<!-- Process transactions; get the highest amount in transactions -->
		
		<!-- Validate selected transaction -->
		<set-payload value="#['\nProcessing and validation took ' +(server.nanoTime() - flowVars.starttime)/1000000 +' milliseconds to complete.\nSelected transaction: ' +flowVars.selectedTransaction]" doc:name="Set Payload" />
		<logger message="#[message.payload]" level="INFO" doc:name="Log results" />		
    </flow>
    <flow name="validateInput">
        <validation:no-operation-selected doc:name="Validation"/>
    </flow>

    
	<!-- create and queue a new mule message for each bid -->
	<flow name="splitTransactions">
		<vm:inbound-endpoint exchange-pattern="one-way" path="VM-split" doc:name="VM-split" />
		<splitter expression="#[groovy:payload.readLines()]" doc:name="Splitter" />
		<vm:outbound-endpoint exchange-pattern="one-way" path="VM-process" doc:name="VM-process" />
	</flow>


	<!-- add customer information (data enrichment); locate the highest amount in transactions; respond back to AuctionService -->
	<flow name="enrichTransactions" processingStrategy="QueuedHighThroughput">
		<vm:inbound-endpoint exchange-pattern="one-way" path="VM-process" doc:name="VM-process" />
		<component class="com.mulesoft.training.tp.components.CustomerEnricherComponent" doc:name="Customer data enrichment"/>
        <flow-ref name="" doc:name="Flow Reference"/>
	</flow>
    <flow name="aggregateTransactions">
        <collection-aggregator timeout="100000" failOnTimeout="true" doc:name="Collection Aggregator"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="VM-transaction.service" doc:name="VM-transaction.service"/>
    </flow>
    <flow name="processTransactions">
    	<component class="com.mulesoft.training.tp.components.TransactionProcessingComponent" doc:name="Transaction processing"/>
		<set-variable variableName="selectedTransaction" value="#[message.payload]" doc:name="Store selected transaction"/>
    </flow>
    <flow name="auditTransactions">    
    	<component class="com.mulesoft.training.tp.components.TransactionAuditingComponent" doc:name="Selected transaction auditing"/>
		
    </flow>
</mule>
